<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheet.css">
    <title>Player Db</title>



    <script src="/index.js" defer></script>
</head>
<body>
    <a href="/"><p>Home</p></a>

    <h1> Player Table</h1>


    <table class="player-table" border = "2">
        <tr>
            <th>Name</th>
            <th>Games</th>
            <th>Bought In</th>
            <th>Cashed Out</th>
            <th>Won Lost </th>
        </tr>
        <% firebasePlayers.forEach(player => { %>
            <tr>
                <td><%= player.name %></td>
                <td><%= player.games %></td>
                <td><%= player.boughtIn %></td>
                <td><%= player.cashedOut %></td>
                <td><%= player.wonOrLost %></td>
            </tr>
        <% }) %>

    </table>


    <div class="form-container">
        <h2>Add new Player to Firebase</h2>
        <form action="/add-player" method="POST">
            <label for="playerName">Name:</label>
            <input type="text" id="playerName" name="playerName" required><br>

            <label for="games">Games:</label>
            <input type="number" id="games" name="games" required><br>

            <label for="boughtIn">Buy in:</label>
            <input type="number" id="boughtIn" name="boughtIn" required><br>

            <label for="cashedOut">Cashed Out:</label>
            <input type="number" id="cashedOut" name="cashedOut" required><br>

            <input type="submit" value="Submit">
        </form>
    </div>


    <div class="form-container">
        <h2>Add Stats for Players in the firebase</h2>
        <form action="/add-stats-new" method="POST">
            <label for="select-player">Select Player:</label>
            <select id="select-player" name="select-player" required>
                <% firebasePlayers.forEach(player => { %>
                    <option value="<%= player.playerID %>"><%= player.name %></option>
                <% }) %>
            </select><br>

            <label for="edit-boughtIn">Bought In:</label>
            <input type="number" id="edit-boughtIn" name="edit-boughtIn"><br>

            <label for="edit-cashedOut">Cashed Out:</label>
            <input type="number" id="edit-cashedOut" name="edit-cashedOut"><br>

            <input type="submit" value="Save Changes">
        </form>
    </div>



    <div class="form-container">
        <h2>Remove Player from Firebase</h2>
        <form action="/delete-player-new" method="POST">
            <label for="select-player">Select Player:</label>
            <select id="select-player" name="select-player" required>
                <% firebasePlayers.forEach(player => { %>
                    <option value="<%= player.playerID %>"><%= player.name %></option>
                <% }) %>
            </select><br>

            <input type="submit" value="Save Changes">
        </form>
    </div>




</body>
</html>